name: google-java-format
on:
  pull_request:
    branches: [ develop ]

jobs:
  formatting:
    # 이 줄을 추가합니다.
    permissions:
      contents: write # 'contents'에 대한 쓰기 권한 부여
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run google-java-format and push changes
        uses: axel-op/googlejavaformat-action@v4.0.0
        with:
          args: "--replace"
          commit-message: "Style: google-java-format"
        env: # <-- 이 부분을 추가해 주세요!
          JAVA_TOOL_OPTIONS: -Xmx2g # <-- JVM 최대 힙 메모리를 2GB로 설정
