name: google-java-format # 워크플로우의 이름
on:
  pull_request: # pull request가 발생했을 때만 실행
    branches: [ develop ] # develop 브랜치로 PR이 올라올 때만

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run google-java-format
        uses: axel-op/googlejavaformat-action@v3
        with:
          args: "--set-exit-if-changed" # 포맷팅이 필요한 파일이 있으면 워크플로우 실패
