name: MORI dev CI/CD Pipeline

on:
  push: # develop 브랜치에 푸쉬될 때 워크플로 실행
    branches: [ "develop" ]

jobs:
  # 빌드
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      #.env 파일 생성 
      - name: Create .env file 
        run: | 
          echo "${{ secrets.ENV_FILE }}" > .env
        
      - name: Grant execute permission for Gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle Wrapper
        run: ./gradlew build --no-daemon

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Docker Login
        uses: docker/login-action@v3.5.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          no-cache: true   # 항상 새로운 이미지 푸시
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/mori:${{ github.sha }}
            ${{ secrets.DOCKER_HUB_USERNAME }}/mori:latest

  # 배포
  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: get GitHub IP
        id: ip
        uses: haythem/public-ip@v1.3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.0.0
        with:
          aws-region: ap-northeast-2
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Add GitHub IP to AWS
        run: |
          aws ec2 authorize-security-group-ingress \
            --group-id ${{ secrets.AWS_SG_ID }} \
            --protocol tcp --port 22 \
            --cidr ${{ steps.ip.outputs.ipv4 }}/32 

      - name: AWS EC2 Connection
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_SSH_PORT }}
          timeout: 60s
          script: |
            cd ~/mori-app
            git pull origin develop   # 최신 docker-compose.yml 반영
            echo "${{ secrets.ENV_FILE }}" > .env   # 서버에 .env 파일 생성
            docker compose pull app
            docker compose down
            docker compose up -d app

      - name: Remove IP FROM security group
        if: always()
        run: |
          aws ec2 revoke-security-group-ingress \
            --group-id ${{ secrets.AWS_SG_ID }} \
            --protocol tcp --port 22 \
            --cidr ${{ steps.ip.outputs.ipv4 }}/32
