name: MORI dev CI/CD Pipeline


on:
  push: # develop 브랜치에 푸쉬될 때 워크플로 실행
    branches: [ "develop" ]

jobs:
  # 빌드
  build:

    runs-on: ubuntu-latest
    permissions:
     contents: read

    steps: 
    # 깃허브 저장소 체크아웃
    - name: Checkout
      uses: actions/checkout@v4

    # JDK 21 설정
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    # Gradle 설정
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

    # gradlew 실행 권한 부여
    - name: Grant execute permission for Gradlew
      run: chmod +x ./gradlew

    #Gradle Wrapper로 프로젝트 빌드 (테스트 제외)
    - name: Build with Gradle Wrapper
      run: ./gradlew build -x test --no-daemon
   
    #Docker Buildx 설정
    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v3.11.1

    # Docker Hub 로그인
    - name: Docker Login
      uses: docker/login-action@v3.5.0
      with:
        username: ${{secrets.DOCKER_HUB_USERNAME}}
        password: ${{secrets.DOCKER_HUB_ACCESS_TOKEN}}

    # Docker 이미지 빌드 및 Docker Hub에 푸시
    - name: Build and push Docker images
      uses: docker/build-push-action@v6.18.0
      with:
                context: .
                push: true
                # 커밋 해시와 latest 두 가지 태그로 이미지 푸시
                tags: |
                  ${{secrets.DOCKER_HUB_USERNAME}}/mori:${{github.sha}}
                  ${{secrets.DOCKER_HUB_USERNAME}}/mori:latest
  # 배포
  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
     # GitHub Runner의 공인 IP 주소 가져오기
     - name: get GitHub IP
       id: ip
       uses: haythem/public-ip@v1.3

     # AWS 자격 증명 설정
     - name: Configure AWS Credentials
       uses: aws-actions/configure-aws-credentials@v5.0.0
       with:
         aws-region: ap-northeast-2
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
     
     # AWS 보안 그룹에 GitHub Runner IP 추가
     - name: Add GitHub IP to AWS
       run: |
          aws ec2 authorize-security-group-ingress \
            --group-id ${{ secrets.AWS_SG_ID }} \
            --protocol tcp --port 22 \
            --cidr ${{ steps.ip.outputs.ipv4 }}/32 \
            --description "GitHub Runner Temporary Access"
     
     # AWS EC2 서버에 SSH 접속 및 배포
     - name: AWS EC2 Connection
       uses: appleboy/ssh-action@v1.0.3
       with:
         host: ${{ secrets.EC2_HOST }}
         username: ubuntu 
         key: ${{ secrets.EC2_SSH_KEY }} 
         port: ${{ secrets.EC2_SSH_PORT }}
         timeout: 60s
         script: |
           cd ~/mori-app
           docker compose pull app
           docker compose up -d app
           # 오래된 컨테이너와 사용되지 않는 이미지 모두 삭제
           docker system prune -a -f
     # 보안 그룹에서 GitHub Runner IP 제거 (이전 단계 실패 여부와 관계없이 항상 실행)      
     - name: Remove IP FROM security group
       if: always()
       run: |
         aws ec2 revoke-security-group-ingress --group-id ${{ secrets.AWS_SG_ID }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32
